{% extends "base.html" %}
{% load string_replace %}
{% block title %}IELTS writing part 2 common questions list{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm asidesm">
    </div>
    <div class="col-sm">
      <br>
      <h2>List of questions</h2>
      <p>List of common writing test part two questions.</p>
      <hr>
      {% if topic_list %}
        {% for topic in topic_list %}
        {% if topic.answers__uid == request.user.id %}
          <a class="btn btn-secondary col-lg-12 col-sm-12" data-toggle="collapse"
          href="#collapse{{topic.id}}" role="button" aria-expanded="false"
          aria-controls="collapse{{topic.id}}" style="margin:3px; word-wrap: break-word; white-space: normal;">
              {{ topic.wr2topic }} &nbsp;&nbsp;&nbsp;<span class="badge badge-light" id="ans{{topic.id}}">*</span>
          </a>
              <div class="collapse" id="collapse{{topic.id}}">
                <div class="card card-body">
                  <p class="alert alert-primary">
                    {{topic.wr2question}}
                  </p>
                  <p class="alert alert-secondary">
                    <a href="{{topic.wr2sampleurl}}" target=_blank>
                      There are some sample answers.
                    </a>
                     But it's strongly recommend to write your Essay by yourself!
                  </p>
                  <p>
                    <b><i>WordCount: <span id=wcnt_{{topic.answers__id}}>{{topic.answers__answer | wordcount}}</span></i></b>
                  </p>
                  <p class="alert alert-success" id="ans_{{ topic.answers__id }}">{{ topic.answers__answer|linebreaksbr }}</p>
                  <div class="text-right">
                    <button class="btn btn-outline-success btn-sm editbutton" type="button" id="ed_{{ topic.answers__id }}">Edit</button>
                    <button class="btn btn-outline-danger btn-sm delbutton" type="button" id="del_{{ topic.answers__id }}">Delete</button>
                  </div>
                </div>

              </div>
        {% else %}
          <a class="btn btn-secondary col-lg-12 col-sm-12" data-toggle="collapse"
          href="#collapse{{topic.id}}" role="button" aria-expanded="false"
          aria-controls="collapse{{topic.id}}" style="margin:3px; word-wrap: break-word; white-space: normal;">
            {{ topic.wr2topic }} <span id="ans{{topic.id}}"></span>
          </a><br>
              <div class="collapse" id="collapse{{topic.id}}">
                <div class="card card-body" id="ans_{{ topic.answers__id }}">
                  <p class="alert alert-primary">
                    {{topic.wr2question}}
                  </p>
                  <p class="alert alert-secondary">
                    <a href="{{topic.wr2sampleurl}}" target=_blank>
                      There are some sample answers.
                    </a>
                     But it's strongly recommend to write your Essay by yourself!
                  </p>
                  <p class="alert alert-danger">Please write your answer below.</p>
                  <form action="{% url 'writep2app:set_answer' topic.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <p>
                        <b><i>WordCount: <span id=wcnt_{{topic.id}}></span></i></b>
                      </p>
                      <textarea name="ans" class="form-control" rows="10" id="textarea_ans_t_{{topic.id}}" oninput="wc_new_ans('{{topic.id}}')"></textarea>
                    </div>
                    <div class="text-right">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            {% endif %}
        {%endfor%}

        {% else %}
          <p>No topics are available.</p>
        {% endif %}

      </div>
      <div class="col-sm asidesm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Your answers' statistic</h5>
            <h6 class="card-subtitle mb-2 text-muted">&nbsp;&nbsp;This is the aggregate from all your answers in this section.</h6>
            <ul class="list-group">
              <li class="list-group-item">Total question : {{ topic_list|length }}</li>
              <li class="list-group-item">Answered question : {{ answered.0 }}</li>
              <li class="list-group-item">Unanswered question : {{ answered.1 }}</li>
              <li class="list-group-item">Words : {{answers.wc}}</li>
              <li class="list-group-item">Unique words : {{answers.uwc}}</li>
            </ul>
            <hr>
            <a class="btn btn-secondary col-lg-12 col-sm-12" data-toggle="collapse"
            href="#collapse_common_words" role="button" aria-expanded="false"
            aria-controls="collapse_common_words" style="margin:3px; word-wrap: break-word; white-space: normal;">
                {{ answers.cntr|length }} common used words
            </a>
            <div class="collapse" id="collapse_common_words">
              <div class="card card-body">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Word</th>
                      <th scope="col">Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for words,count in answers.cntr.items %}
                      <tr>
                        <td>{{words}}</td><td>{{count}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
{% csrf_token %}

{% endblock %}
